body {
    background: url(http://wac.450f.edgecastcdn.net/80450F/999ktdy.com/files/2011/02/71539216.jpg);
    background-size: 1365px 1000px;
   
}

body{
    text-align: center;
}

body{
    image-align: center;
}
body {
         color: white;
        }
        a:hover { 
    background-color: white;
}
.carosl{
            width: 500px;
            height: 300px;
        }      